.menuButton{
    outline: solid 2px white;
    border: none;
    border-radius: 3px;
    height: 80%;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}


@media (min-width: 500px){
    .menuButton{
        display: none;
    }
}