.order{
    position: relative;
    top: 30px;
    background-color: sandybrown;
    border: solid 3px #ddd;
    box-shadow: 0 20px 10px -15px #333;
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    margin: 0 auto 15px;
}